h1{color:red;}

.header {
  border: 1px solid black;
  height: 100px;
  text-align: center; }

.header_content {
  line-height: 100px;
  color: #FF0000; }

.nav_bar {
  padding: 0px;
  margin-top: 20px; }

.nav_params {
  border: 1px solid black;
  border-radius: 0px; }

.main_view {
  padding: 0px;}

.main_headline {
  border: 1px solid black;
  height: 400px;
  text-align: center; }

/*# sourceMappingURL=master.css.map */
