



$primary-color: #000;

$secondary-color: #FF0000;



.header{border:1px solid black;height:100px;text-align:center;}

.header_content{line-height:100px; color: $secondary-color;}

.nav_bar{padding:0px;margin-top:20px;}

.nav_params{border:1px solid black;border-radius:0px;}

.main_view{padding:0px;}

.main_headline{border:1px solid black;height:400px;text-align:center;}