<!doctype html>
<html lang="en" ng-app="spa_app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/master.css" />
	<link rel="stylesheet" href="css/master.scss" />

	<title>Josh Winters SPA App</title>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 header" ng-controller="spa_ctrl">
                <p class="header_content">{{header_content}}</p>
            </div>
        </div>
        <div class="row">
            <div ng-include="'navigation.html'"></div>
        </div>
        
        <div class="row">
            <div ng-view></div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="js/spa_app.js"></script>
</body>
</html>