<div class="col-sm-12 main_headline" style="border:1px solid black;height:600px;">
    <h1>Main Content</h1>
    <p>This will be a site that showcases my ability to code in various languages. To navigate through various examples, simply select the language from the navigation above, and then choose which project you wish to view.</p>
</div>